.banner-area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 100px;
  min-height: 420px;
  padding: 60px 80px;

  background-image: url("mariia-shalabaieva-HBkpnDVc_Ic-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-overlay {
  position: absolute;
  inset: 0;
  background: rgba(245, 245, 245, 0.65);
}

.banner-content {
  position: relative;
  z-index: 1;
  max-width: 700px;
}

.banner-area .title {
  font-size: clamp(20px, 4vw, 30px);
  font-weight: 400;
  text-transform: uppercase;
  background: linear-gradient(90deg, #0033a0 0%, #a50044 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.banner-area .role {
  font-size: clamp(60px, 2vw, 80px);
  font-weight: 900;
  margin: 20px 0;
  text-transform: uppercase;
  background: linear-gradient(90deg, #0033a0 0%, #a50044 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.banner-actions {
  display: flex;
  gap: 20px;
  align-items: center;
}

.banner-area .btn {
  font-size: clamp(15px, 1vw, 20px);
  font-weight: 400;
  width: 140px;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 10px;
}

.banner-area .btn a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #a50044;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.banner-area .btn a:hover {
  background-color: white;
  background: linear-gradient(90deg, #0033a0 0%, #a50044 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

@media (max-width: 768px) {
  .banner-area {
    padding: 40px 20px;
    margin: 100px 20px;
    min-height: 520px;
  }

  .banner-content {
    text-align: center;
  }

  .banner-actions {
    justify-content: center;
    flex-direction: column;
    gap: 16px;
  }

  .banner-area .title {
    font-size: clamp(15px, 4vw, 25px);
  }
  .banner-area .role {
    font-size: clamp(40px, 2vw, 60px);
  }
  .banner-area .btn {
    width: 180px;
  }
}
